# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.ts,*.js,*.json,.*rc}]
indent_size = 2

[{*.js,*.ts}]
quote_type = single
max_line_length = 100

[*.md]
trim_trailing_whitespace = false
